################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/skyedge/obj/Debug/skyedge.formularios.frmnomina.resources
/skyedge/obj/Debug/skyedge.formularios.frmmodificareserva.resources
/skyedge/obj/Debug/skyedge.formularios.frmreserva.resources
/skyedge/obj/Debug/skyedge.formularios.frmusuarionuevo.resources
/skyedge/obj/Debug/skyedge.formularios.frmvuelo.resources
/skyedge/obj/Debug/skyedge.formularios.frmvuelosdisponibles.resources
/skyedge/obj/Debug/skyedge.pdb
/skyedge/.vs/skyedge/FileContentIndex/d771ae48-220f-4481-b8fc-831c8f3d0d2e.vsidx
/skyedge/.vs/skyedge/FileContentIndex/4e18f643-809c-4845-9a20-525f60caafb8.vsidx
/skyedge/.vs/skyedge/v17/.suo
/.vs/skyedge1/v17/.wsuo
*.vsidx
/.vs/skyedge1/FileContentIndex/d5373627-f171-4922-95b4-0877a68983b7.vsidx
/.vs/skyedge1/FileContentIndex/f2fa797f-474d-4509-9581-a5ee5bff158d.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/skyedge/.vs/skyedge/v17
/skyedge/bin/Debug/skyedge.exe
/skyedge/bin/Debug/skyedge.pdb
/skyedge/dbskyedge.mdf
/skyedge/dbskyedge_log.ldf
/skyedge/obj/Debug/skyedge.csproj.GenerateResource.cache
/skyedge/obj/Debug/skyedge.exe
/skyedge/obj/Debug/skyedge.formularios.frmempleado.resources
/skyedge/obj/Debug/skyedge.formularios.frmlogin.resources
/.vs/skyedge1/v17/DocumentLayout.json
