################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/skyedge/obj/Debug/skyedge.formularios.frmnomina.resources
/skyedge/obj/Debug/skyedge.formularios.frmmodificareserva.resources
/skyedge/obj/Debug/skyedge.formularios.frmreserva.resources
/skyedge/obj/Debug/skyedge.formularios.frmusuarionuevo.resources
/skyedge/obj/Debug/skyedge.formularios.frmvuelo.resources
/skyedge/obj/Debug/skyedge.formularios.frmvuelosdisponibles.resources
/skyedge/obj/Debug/skyedge.pdb
/skyedge/.vs/skyedge/FileContentIndex/d771ae48-220f-4481-b8fc-831c8f3d0d2e.vsidx
